:root {
  --intro-bg-color: #ffffff;
  --intro-text-color: #333333;
  --intro-title-color: #000000;
  --intro-button-bg: #f0f0f0;
  --intro-button-text: #333333;
  --intro-button-hover-bg: #e0e0e0;
  --intro-button-hover-text: #333333;
  --intro-button-active-bg: #000000;
  --intro-button-active-text: #ffffff;
  --intro-progress-bar-bg: #e0e0e0;
  --intro-progress-bar-fill: #333333;
}

.dark {
  --intro-bg-color: hsl(240 10% 3.9%);
  --intro-text-color: #ffffff;
  --intro-title-color: #ffffff;
  --intro-button-bg: #333333;
  --intro-button-text: #ffffff;
  --intro-button-hover-bg: #4a4a4a;
  --intro-button-hover-text: white;
  --intro-button-active-bg: #ffffff;
  --intro-button-active-text: #000000;
  --intro-progress-bar-bg: #3b3b3b;
  --intro-progress-bar-fill: #ffffff;
}

.introjs-tooltip {
  background-color: var(--intro-bg-color);
  color: var(--intro-text-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
}

.introjs-tooltip-title {
  color: var(--intro-title-color);
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 15px;
}

.introjs-tooltiptext {
  margin-bottom: 15px;
}

.introjs-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  width: 100%;
}

.introjs-button {
  all: unset;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--intro-button-bg);
  color: var(--intro-button-text);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 0.9em;
  font-weight: 500;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.introjs-button:hover {
  background-color: var(--intro-button-hover-bg);
  color: var(--intro-button-hover-text);
}

.introjs-button.introjs-nextbutton {
  background-color: var(--intro-button-active-bg);
  color: var(--intro-button-active-text);
}

.introjs-skipbutton {
  display: none;
}

.introjs-progress {
  background-color: var(--intro-progress-bar-bg);
  height: 4px;
  margin-top: 15px;
  border-radius: 2px;
}

.introjs-progressbar {
  background-color: var(--intro-progress-bar-fill);
  height: 100%;
  transition: width 0.3s ease;
  border-radius: 2px;
}

/* Hide arrows */
.introjs-arrow {
  display: none;
}