UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=
# Next auth 
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= 
GITHUB_ID= 
GITHUB_SECRET= 

APOLLO_API_KEY=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_BACKEND_URL=
NEXT_PUBLIC_LOCAL_SERVER= true for local host and false for production server